<aside class="sidebar">
    <nav>
        <ul class="nav-list">
            <li class="nav-item">
                <a href="{{ '/' | relative_url }}">🏠 Главная страница</a>
            </li>
            
            <li class="nav-item nav-section">
                <span>Содержание</span>
                <ul class="nav-sublist">
                    <li><a href="{{ '/ru/git-intro' | relative_url }}">Введение в Git</a></li>
                    <li><a href="{{ '/ru/oop-intro' | relative_url }}">Введение в ООП</a></li>
                    <li><a href="{{ '/ru/case-coffeebucks' | relative_url }}">Кейс CoffeeBucks</a></li>
                    <li><a href="{{ '/ru/encapsulation' | relative_url }}">Инкапсуляция</a></li>
                    <li><a href="{{ '/ru/code-structure' | relative_url }}">Структура кода</a></li>
                    <li><a href="{{ '/ru/inheritance' | relative_url }}">Наследование</a></li>
                    <li><a href="{{ '/ru/exceptions-processing' | relative_url }}">Обработка ошибок</a></li>
                    <li><a href="{{ '/ru/polymorphism' | relative_url }}">Полиморфизм</a></li>
                    <li><a href="{{ '/ru/case-hometech' | relative_url }}">Кейс HomeTech</a></li>
                    <li><a href="{{ '/ru/io-streams' | relative_url }}">Ввод/вывод в C++. Библиотеки ввода/вывода</a></li>
                    <li><a href="{{ '/ru/io-streams-laboratory-work' | relative_url }}">Лабораторная работа. Ввод/вывод в C++. Библиотеки ввода/вывода</a></li>
                    <li><a href="{{ '/ru/case-edutech' | relative_url }}">Кейс EduTech</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</aside>