<aside class="sidebar">
    <nav>
        <ul class="nav-list">
            <li class="nav-item">
                <a href="{{ '/' | relative_url }}">🏠 Главная страница</a>
            </li>
            
            <li class="nav-item nav-section">
                <span>🇷🇺 Русский</span>
                <ul class="nav-sublist">
                    <li><a href="{{ '/ru/git-intro' | relative_url }}">Введение в Git</a></li>
                    <li><a href="{{ '/ru/oop-encapsulation' | relative_url }}">Введение в ООП. Инкапсуляция</a></li>
                    <li><a href="{{ '/ru/inheritance' | relative_url }}">Наследование</a></li>
                    <li><a href="{{ '/ru/polymorphism' | relative_url }}">Полиморфизм</a></li>
                    <li><a href="{{ '/ru/io-streams' | relative_url }}">Модульные программы. Ввод/вывод в C++. Библиотеки ввода/вывода</a></li>
                </ul>
            </li>
            
            <li class="nav-item nav-section">
                <span>🇬🇧 English</span>
                <ul class="nav-sublist">
                    <li><a href="{{ '/en/git-intro' | relative_url }}">Introduce to Git</a></li>
                    <li><a href="{{ '/en/oop-encapsulation' | relative_url }}">Introduce to OOP. Incapsulation</a></li>
                    <li><a href="{{ '/en/inheritance' | relative_url }}">Inheritance</a></li>
                    <li><a href="{{ '/en/polymorphism' | relative_url }}">Polymorphism</a></li>
                    <li><a href="{{ '/en/io-streams' | relative_url }}">Modular Programs. Input/Output in C++. Input/Output Libraries</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</aside>